.Subbanner-root {
    margin-top: 100px;
    background-image: url(../../Assets/Mask\ Group.png);
    width: 100%;
    background-repeat: repeat;
    background-position: cover;
    background-size: cover;
}

.typoicon {
    font-weight: bolder;
    color: #008000;
}

.subbanner h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #008000;
}

.sub-logo {
    height: 22px;
    width: 22px;
    margin-right: -7px;
    margin-top: 20px;
}

.bg {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}