.custom-nav {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 30px 0px;
    margin: 0px 20px;
    opacity: 0.75;
    border-radius: 4px;
}

.custom-nav:hover,
.nav-link:active {
    opacity: 5;
    border-bottom: 5px solid #008000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;
}

.custom-logo {
    padding: 30px 0px;
    margin: 0px 20px;
}

.custom-nav.active {
    opacity: 5;
    border-bottom: 5px solid #008000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;
}


/* .custom-nav::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
} */


/* display: inline-block;
position: relative;
text-decoration: none; */