.custom-h1 {
    font-size: 70px;
}

.cusbannartext {
    padding: 80px;
}

.bannerimg {
    filter: brightness(90%)
}


/* @media (min-width: 350px) {
    .custom-h1 {
        font-size: 50px;
    }
} */